// Defaults
$borderRadius: 8px;
$buttonBorderRadius: 4px;
$transition: all 0.3s ease;

// -----------------------------------------------------------------------

// Colors

/* Primeira opção de cores */
// $primary: #ee6c4d;
// $background: #313439;
// $contrast: #292a2e;
// $accent: #444;

/* Segunda opção de cores */
// $background: #1e1d2b;
// $contrast: #252736;
// $accent: #2d2e40;

/* Terceira opção de cores (fica bão, digassi de passagi) */
// $primary: #5F3CFF;
// $background: #232323;
// $contrast: #2f2f2f;
// $accent: #444;

/* Quarta opção de cores */
$primary: #CC966C;
$background: #1A1D20;
$contrast: #2f2f2f;
$accent: #444646;

// -----------------------------------------------------------------------

$text: #f7f7f8;
$secondaryText: #696c70;
$positiveText: #219f64;
$negativeText: #b44c46;
$neutralText: #ffe925;

// Font Sizes
$fontSize12: 0.75rem;
$fontSize14: 0.857rem;
$fontSize15: 0.938rem;
$fontSize16: 1rem;
$fontSize18: 1.125rem;
$fontSize20: 1.25rem;
$fontSize24: 1.5rem;

// -----------------------------------------------------------------------

:export {
  background: $background;
  contrast: $contrast;
  accent: $accent;
  primary: $primary;
  text: $text;
  secondary-text: $secondaryText;
  positive-text: $positiveText;
  negative-text: $negativeText;
  neutral-text: $neutralText;
  transition: $transition;
  font-size-12: $fontSize12;
  font-size-14: $fontSize14;
  font-size-15: $fontSize15;
  font-size-16: $fontSize16;
  font-size-18: $fontSize18;
  font-size-20: $fontSize20;
  font-size-24: $fontSize24;
}
